body{
}



#threelines{
    height: 25px;
    width: 20px;
}
#youtubeimage{
    height: 35px;
    width: 90px;
    
}
#header{
    height: 70px;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    margin-left: 15px;
   
}

#mike-logo{
    height: 40px;
    width: 50px;
   

}
#notification{
    height: 37px;
    width: 50px;
}

#signin{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    font-weight: bold;
    background-color: white;
}
#video{
    height: 37px;
    width: 50px;
}
#search{
    width: 550px;
    height:45px;
    border-radius: 30px;
    padding-left: 15px;
    
}
#nav1,#nav2,#nav3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
   
}
#sidebar{
    height: 150px;
    width: 180px;
    display: flex;
    margin-top: 10px;
    padding: 10px;
   
   }
    #aside1{
        height: 150px;
        width: 200px;
        display: block;
        align-items: center;
        justify-content: space-between;
    }
    
    #home,#short,#Sub{
        display: flex;
        align-items:center;
    }
    #sidebar2{
        height: 190px;
        width: 180px;
        display: flex;
        margin-top: 10px;
        padding: 10px;
       
       
    }
   
    #history,#playlist,#watch,#liked{
        display: flex;
        align-items:center;
        
    }
    #aside-2{
        height: 350px;
        width: 200px;
       padding-left: 10px;
        
    }
    #sidebar-3{
        height: 300px;
        width: 180px;
        display: flex;
        margin-top: 10px;
        padding: 10px;
        
       
    }
    #aside-3{
        height: 350px;
        width: 200px;
       padding-left: 10px;
        
    }
    
    #trending,#shopping,#music,#games,#podcast{
        display: flex;
        align-items:center;
        
    }
  
    
   
    #yogi{
        width: 240px;
        padding: 10px;
    }
    #sagar{
        width: 98%;
        display: flex;
            
    }
    #header-3{
        width: 98%;
        
    }
    #nav4{
        
        display: flex;
        align-items: center ;
        justify-content: space-around;
    }
    #span-1{
        padding: 8px;
        background-color: black;
        color: white;
        border-radius: 5px;
    }
    #span-2{
        padding: 8px;
        background-color: gray;
        color: white;
        border-radius: 5px;
    }
    #card{
        
        height:330px ;
        width: 420px;
        
    }
    #image-1{
        border-radius: 5px;
    }
    #vamshi{
        display: flex;
        padding-left: 15px;
        justify-content: space-between;
    }
  #chiru{
    height:30px;
    width: 30px;
    border-radius: 50%;
  }
  #matter{
    display: flex;
    padding: 15px;
  }
  #sub-title{
    margin-left: 10px;
  }
  #vamshi-1{
    display: flex;
    padding-left: 15px;
    justify-content: space-between;
}

    